.App {
  
  background-color: #181818;
}
.flex{
  background-color: black;
}
.moviee{
  color: #fff;
  max-width: 598px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.2;
}

.pop{
  display: flex;
}
.Nav-title {
  font-family: fantasy;
  color: #e50914;
  height: 40px;
  display: block;
    width: 110px;
    margin-top: 100px;

}
.love{
  color: white;
  }
  .love:hover{
      color: red;
  }
.nav{
  background-color: black;
}
.search{
  width: 550px;
  height: 40px;
  margin-bottom: 20px;
}
.Nav-title:hover {
  color: red;
}
.Nav-title{
  margin-left: 24px;
  margin-top: 15px;
}
.nav{
  background-color: black;
}
.searchs{
       margin-left: 70px;
    display: flex;
    justify-content: space-between 100px ;
    margin-top: 2px;
  
}
.App-header{
  display: flex;
  justify-content: space-between 100px ;
}
.App-intro {
  margin: 36px 0;
  max-width: 598px;
  font-size: 19px;
  margin-top: 12px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.nm-content-horizontal-row-item-container {
display: flex;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nm-collections-row-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.tit {
  font-size: 16px;
  color: white;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;

}
.nm-collections-title-img{
  width: 200px;
  height: 300px;
    padding-inline-start: 10px;
    margin-right: 20px;
}
.txt{
  color: white;
  -webkit-box-direction: normal;
  font-size: 18px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
  margin-left: 81px;
}
.btn.btn-large{
  background-color: red;
  height: 40px;
  margin-top: 11px;
  margin-left: 40px;
  
}
.img{
  width: 1500px;
  height: 500px;
  
  }
.alertxt{
  color: white;
  border-color: white;
}
* {
  box-sizing: border-box;
}
.srch{
  height: 40px;
  margin-top: 10px;

}
.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.like{
  color: red;
}
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;

}
.navbar-brand{margin-left: 30px;}
.nm-collections-title-name {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 2px;
}
input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}
.fr {
  width: 300px;
}
.aa {
  text-align: center;
  margin-left: 150px;
}

.search > input[type="text"] {
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}
.navbar-brand{
  margin-top: 8px;
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
